# Movies Dataset Cleaning using Python
    By  Annabel Chinasa .U

Movies dataset is made of movies activities and those variable contains some inconsistent data type, missing values, unwanted columns e.t.c. This  project focuses on cleaning the dataset because uncleaned dataset isn't good for Analysis.

In [1]:
#import pandas and numpy package
import pandas as pd
import numpy as np
import re
pd.options.mode.chained_assignment = None

In [2]:
#import movie dataset
movies = pd.read_csv('movies.csv')

In [3]:
#view the dataset
movies.head()

,Unnamed: 0,IMBD title ID,Original titlÊ,Release year,Genrë¨,Duration,Country,Content Rating,Director,Unnamed: 8,Income,Votes,Score
0,0,tt0111161,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,NaN,$ 28815245,2.278.845,9.3
1,1,tt0068646,The Godfather,09 21 1972,"Crime, Drama",175,USA,R,Francis Ford Coppola,NaN,$ 246120974,1.572.674,9.2
2,2,tt0468569,The Dark Knight,23 -07-2008,"Action, Crime, Drama",152,US,PG-13,Christopher Nolan,NaN,$ 1005455211,2.241.615,9.
3,3,tt0071562,The Godfather: Part II,1975-09-25,"Crime, Drama",220,USA,R,Francis Ford Coppola,NaN,"$ 4o8,035,783",1.098.714,"9,.0"
4,4,tt0110912,Pulp Fiction,1994-10-28,"Crime, Drama",,USA,R,Quentin Tarantino,NaN,$ 222831817,1.780.147,"8,9f"

*This following process will be carried out to clean the movies dataset;*

- *Change all column names to lowercase*
- *Change the special letter in the column*
- *Remove apostrophe from genre column name*
- *Remove the unnamed columns*
- *Check duplicates and remove if any*
- *Check and delete empty rows*
- *Rename the columns*
- *Extract the year from release_year*
- *Select only the first genre in the genre column*
- *Fill in the null value with correct year for release year*
- *Fill in the null value with correct duration for duration column*
- *Uniform the data in country column*
- *Replace the R to rated and no value to not rated  and approved with rated in the rated column*
- *Remove special character from income column and confirm the data type is an integer*
- *Remove special character from votes column and confirm the data type is an integer*
- *Remove unnecessary special numbers,commas and letters from score columns*
- *Trim all the columns to remove spaces*

Inspecting the dataset to observe the variables of the  data.

In [4]:
#view the info of the dataset
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      101 non-null    int64
 1   IMBD title ID   100 non-null    object
 2   Original titlÊ  100 non-null    object
 3   Release year    100 non-null    object
 4   Genrë¨          100 non-null    object
 5   Duration        99 non-null     object
 6   Country         100 non-null    object
 7   Content Rating  77 non-null     object
 8   Director        100 non-null    object
 9   Unnamed: 8      0 non-null      float64
 10  Income          100 non-null    object
 11   Votes          100 non-null    object
 12  Score           100 non-null    object
dtypes: float64(1), int64(1), object(11)
memory usage: 10.4+ KB

*The info shows that the dataset contains 13 columns ans 102 rows. it also indicates that duration and content rating columns contains null values. The movies dataset also contains empty columns and lastly the dataset is made up of 1 float, 1 integer, 11 objects data types.*

## <center> 1.Change all column names to Lowercase

In [5]:
#convert  all the header columns to lowercase
movies.columns = movies.columns.str.lower()

In [6]:
#show the dataset
movies.head(2)

,unnamed: 0,imbd title id,original titlê,release year,genrë¨,duration,country,content rating,director,unnamed: 8,income,votes,score
0,0,tt0111161,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,NaN,$ 28815245,2.278.845,9.3
1,1,tt0068646,The Godfather,09 21 1972,"Crime, Drama",175,USA,R,Francis Ford Coppola,NaN,$ 246120974,1.572.674,9.2

## <center> 2.Change the special letter in the header.

In [7]:
#import unidecode
from unidecode import unidecode

In [8]:
#remove the speial character in the header cloumns
movies.columns = [unidecode(col) for col in movies.columns]

#show the dataset
movies.head(2)

,unnamed: 0,imbd title id,original title,release year,"genre""",duration,country,content rating,director,unnamed: 8,income,votes,score
0,0,tt0111161,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,NaN,$ 28815245,2.278.845,9.3
1,1,tt0068646,The Godfather,09 21 1972,"Crime, Drama",175,USA,R,Francis Ford Coppola,NaN,$ 246120974,1.572.674,9.2

## <center>3.Remove apostrophe from genre column name.

In [9]:
#replace apostrophe with empty space
movies.columns = movies.columns.str.replace('"', '')

#show the dataset
movies.head(2)

,unnamed: 0,imbd title id,original title,release year,genre,duration,country,content rating,director,unnamed: 8,income,votes,score
0,0,tt0111161,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,NaN,$ 28815245,2.278.845,9.3
1,1,tt0068646,The Godfather,09 21 1972,"Crime, Drama",175,USA,R,Francis Ford Coppola,NaN,$ 246120974,1.572.674,9.2

## <center>4. Remove the unnamed columns.

In [10]:
#Drop the unnamed colums
movies = movies.drop(['unnamed: 0','unnamed: 8'], axis=True)

#show dataset
movies.head(2)

,imbd title id,original title,release year,genre,duration,country,content rating,director,income,votes,score
0,tt0111161,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,$ 28815245,2.278.845,9.3
1,tt0068646,The Godfather,09 21 1972,"Crime, Drama",175,USA,R,Francis Ford Coppola,$ 246120974,1.572.674,9.2

## <center>5. Rename the columns names

In [11]:
#rename the columns name
movies=movies.rename(columns={"imbd title id" : "title_id","original title" : "title",
                              "release year":"release_year", "content rating" : "content_rating"})

#show dataset
movies.head(2)

,title_id,title,release_year,genre,duration,country,content_rating,director,income,votes,score
0,tt0111161,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,$ 28815245,2.278.845,9.3
1,tt0068646,The Godfather,09 21 1972,"Crime, Drama",175,USA,R,Francis Ford Coppola,$ 246120974,1.572.674,9.2

## <center>6. Check duplicates and remove if any

In [12]:
#find duplicate
duplicates = movies.duplicated()

# Count the number of duplicates
num_duplicates = duplicates.sum()

# Print the number of duplicates
print(f'The dataset contains {num_duplicates} duplicates.')

The dataset contains 0 duplicates.

## <center>7. Check and delete empty row

In [13]:
# Check if any row is empty
is_empty = movies.isnull().all(axis=1).any()

if is_empty:
    print('The dataset contains at least one empty row.')
else:
    print('The dataset does not contain any empty row.')

The dataset contains at least one empty row.

In [14]:
#drop down empty rows
movies = movies.dropna(how='all')

# Count the number of rows in the DataFrame
num_rows = movies.shape[0]

# Print the number of rows
print(f'The dataset contains {num_rows} rows.')

The dataset contains 100 rows.

## <center>8. Extract the year from the release_year

In [15]:
#change the release year to string
movies['release_year'] = movies['release_year'].astype(str)

In [19]:
#create pattern
pattern = r'(\d{4})'

In [20]:
#replace the previous year column with the year pattern created
movies['release_year'] = movies['release_year'].str.extract(pattern)

In [21]:
#show the dataset
movies.head()

,title_id,title,release_year,genre,duration,country,content_rating,director,income,votes,score
0,tt0111161,The Shawshank Redemption,1995,Drama,142,USA,R,Frank Darabont,$ 28815245,2.278.845,9.3
1,tt0068646,The Godfather,1972,"Crime, Drama",175,USA,R,Francis Ford Coppola,$ 246120974,1.572.674,9.2
2,tt0468569,The Dark Knight,2008,"Action, Crime, Drama",152,US,PG-13,Christopher Nolan,$ 1005455211,2.241.615,9.
3,tt0071562,The Godfather: Part II,1975,"Crime, Drama",220,USA,R,Francis Ford Coppola,"$ 4o8,035,783",1.098.714,"9,.0"
4,tt0110912,Pulp Fiction,1994,"Crime, Drama",,USA,R,Quentin Tarantino,$ 222831817,1.780.147,"8,9f"

## <center>  9. Select only the first genre in the genre column

In [22]:
#use split to select the first genre
movies['genre'] = movies['genre'].str.split(',').str[0].str.strip()

#show the dataset
movies.head(10)

,title_id,title,release_year,genre,duration,country,content_rating,director,income,votes,score
0,tt0111161,The Shawshank Redemption,1995,Drama,142,USA,R,Frank Darabont,$ 28815245,2.278.845,9.3
1,tt0068646,The Godfather,1972,Crime,175,USA,R,Francis Ford Coppola,$ 246120974,1.572.674,9.2
2,tt0468569,The Dark Knight,2008,Action,152,US,PG-13,Christopher Nolan,$ 1005455211,2.241.615,9.
3,tt0071562,The Godfather: Part II,1975,Crime,220,USA,R,Francis Ford Coppola,"$ 4o8,035,783",1.098.714,"9,.0"
4,tt0110912,Pulp Fiction,1994,Crime,,USA,R,Quentin Tarantino,$ 222831817,1.780.147,"8,9f"
5,tt0167260,The Lord of the Rings: The Return of the King,NaN,Action,201,New Zealand,PG-13,Peter Jackson,$ 1142271098,1.604.280,08.9
6,tt0108052,Schindler's List,1994,Biography,Nan,USA,R,Steven Spielberg,$ 322287794,1.183.248,8.9
7,tt0050083,12 Angry Men,1957,Crime,96,USA,Not Rated,Sidney Lumet,$ 576,668.473,8.9
8,tt1375666,Inception,2010,Action,148,USA,PG-13,Christopher Nolan,$ 869784991,2.002.816,8..8
9,tt0137523,Fight Club,NaN,Drama,Inf,UK,R,David Fincher,$ 101218804,1.807.440,8.8

## <center> 10. Fill in the null values in the release year with the correct year for release year

In [23]:
#use loc to input the value
movies.loc[5, 'release_year'] = '2003'
movies.loc[9, 'release_year'] = '1999'
movies.loc[15, 'release_year'] = '2001'
movies.loc[45, 'release_year'] = '1943'

#show the dataset
movies.head(10)

,title_id,title,release_year,genre,duration,country,content_rating,director,income,votes,score
0,tt0111161,The Shawshank Redemption,1995,Drama,142,USA,R,Frank Darabont,$ 28815245,2.278.845,9.3
1,tt0068646,The Godfather,1972,Crime,175,USA,R,Francis Ford Coppola,$ 246120974,1.572.674,9.2
2,tt0468569,The Dark Knight,2008,Action,152,US,PG-13,Christopher Nolan,$ 1005455211,2.241.615,9.
3,tt0071562,The Godfather: Part II,1975,Crime,220,USA,R,Francis Ford Coppola,"$ 4o8,035,783",1.098.714,"9,.0"
4,tt0110912,Pulp Fiction,1994,Crime,,USA,R,Quentin Tarantino,$ 222831817,1.780.147,"8,9f"
5,tt0167260,The Lord of the Rings: The Return of the King,2003,Action,201,New Zealand,PG-13,Peter Jackson,$ 1142271098,1.604.280,08.9
6,tt0108052,Schindler's List,1994,Biography,Nan,USA,R,Steven Spielberg,$ 322287794,1.183.248,8.9
7,tt0050083,12 Angry Men,1957,Crime,96,USA,Not Rated,Sidney Lumet,$ 576,668.473,8.9
8,tt1375666,Inception,2010,Action,148,USA,PG-13,Christopher Nolan,$ 869784991,2.002.816,8..8
9,tt0137523,Fight Club,1999,Drama,Inf,UK,R,David Fincher,$ 101218804,1.807.440,8.8

## <center> 11. Fill in the null value with correct duration in duration column

In [24]:
#use loc to input the value
movies.loc[4, 'duration'] = '154'
movies.loc[6, 'duration'] = '195'
movies.loc[9, 'duration'] = '139'
movies.loc[11, 'duration'] = '178'
movies.loc[14, 'duration'] = '136'
movies.loc[16, 'duration'] = '124'
movies.loc[18, 'duration'] = '133'

#show the dataset
movies.head(10)

,title_id,title,release_year,genre,duration,country,content_rating,director,income,votes,score
0,tt0111161,The Shawshank Redemption,1995,Drama,142,USA,R,Frank Darabont,$ 28815245,2.278.845,9.3
1,tt0068646,The Godfather,1972,Crime,175,USA,R,Francis Ford Coppola,$ 246120974,1.572.674,9.2
2,tt0468569,The Dark Knight,2008,Action,152,US,PG-13,Christopher Nolan,$ 1005455211,2.241.615,9.
3,tt0071562,The Godfather: Part II,1975,Crime,220,USA,R,Francis Ford Coppola,"$ 4o8,035,783",1.098.714,"9,.0"
4,tt0110912,Pulp Fiction,1994,Crime,154,USA,R,Quentin Tarantino,$ 222831817,1.780.147,"8,9f"
5,tt0167260,The Lord of the Rings: The Return of the King,2003,Action,201,New Zealand,PG-13,Peter Jackson,$ 1142271098,1.604.280,08.9
6,tt0108052,Schindler's List,1994,Biography,195,USA,R,Steven Spielberg,$ 322287794,1.183.248,8.9
7,tt0050083,12 Angry Men,1957,Crime,96,USA,Not Rated,Sidney Lumet,$ 576,668.473,8.9
8,tt1375666,Inception,2010,Action,148,USA,PG-13,Christopher Nolan,$ 869784991,2.002.816,8..8
9,tt0137523,Fight Club,1999,Drama,139,UK,R,David Fincher,$ 101218804,1.807.440,8.8

## <center>12. Uniform the data in country column

In [26]:
#show the unique values in country column
movies['country'].unique()

array(['USA', 'US', 'New Zealand', 'UK', 'New Zesland', 'Italy',
       'New Zeland', 'US.', 'Brazil', 'Japan', 'Italy1', 'South Korea',
       'France', 'Germany', 'India', 'Denmark', 'West Germany', 'Iran'],
      dtype=object)

In [29]:
#use replace to mae the data consistent
movies['country'] = movies['country'].replace('US', 'USA')
movies['country'] = movies['country'].replace('US.', 'USA')
movies['country'] = movies['country'].replace('New Zesland', 'New Zealand')
movies['country'] = movies['country'].replace('New Zeland', 'New Zealand')
movies['country'] = movies['country'].replace('Italy1', 'Italy')

#show the dataset
movies.head(4)

,title_id,title,release_year,genre,duration,country,content_rating,director,income,votes,score
0,tt0111161,The Shawshank Redemption,1995,Drama,142,USA,R,Frank Darabont,$ 28815245,2.278.845,9.3
1,tt0068646,The Godfather,1972,Crime,175,USA,R,Francis Ford Coppola,$ 246120974,1.572.674,9.2
2,tt0468569,The Dark Knight,2008,Action,152,USA,PG-13,Christopher Nolan,$ 1005455211,2.241.615,9.
3,tt0071562,The Godfather: Part II,1975,Crime,220,USA,R,Francis Ford Coppola,"$ 4o8,035,783",1.098.714,"9,.0"

## 13. Replace the R to restricted and no value to not rated and approved with general in the rated column

In [30]:
movies['content_rating'].unique()

array(['R', 'PG-13', 'Not Rated', 'Approved', 'PG', nan, 'Unrated', 'G'],
      dtype=object)

In [31]:
#use replace to make the dataset consistent
movies['content_rating'] = movies['content_rating'].replace('R', 'Restricted')
movies['content_rating'] = movies['content_rating'].replace('Unrated', 'Not Rated')
movies['content_rating'] = movies['content_rating'].replace('PG', 'Parental Guidance')
movies['content_rating'] = movies['content_rating'].replace('G', 'General')
movies['content_rating'] = movies['content_rating'].replace('Approved', 'General')
movies['content_rating'] = movies['content_rating'].replace('PG-13', 'Parents Strongly Cautioned')
movies['content_rating'] = movies['content_rating'].replace('nan', 'Not Rated')
movies['content_rating'].fillna('Not rated', inplace=True)

#show the dataset
movies.head()

,title_id,title,release_year,genre,duration,country,content_rating,director,income,votes,score
0,tt0111161,The Shawshank Redemption,1995,Drama,142,USA,Restricted,Frank Darabont,$ 28815245,2.278.845,9.3
1,tt0068646,The Godfather,1972,Crime,175,USA,Restricted,Francis Ford Coppola,$ 246120974,1.572.674,9.2
2,tt0468569,The Dark Knight,2008,Action,152,USA,Parents Strongly Cautioned,Christopher Nolan,$ 1005455211,2.241.615,9.
3,tt0071562,The Godfather: Part II,1975,Crime,220,USA,Restricted,Francis Ford Coppola,"$ 4o8,035,783",1.098.714,"9,.0"
4,tt0110912,Pulp Fiction,1994,Crime,154,USA,Restricted,Quentin Tarantino,$ 222831817,1.780.147,"8,9f"

## <center>14. Remove special character from income column and confirm the data type is an integer

In [32]:
movies['income'].dtype

dtype('O')

In [34]:
#replace the special character and inappriopriate values
movies['income'] = movies['income'].astype(str).str.replace('$', '', regex=True).str.replace(',', '', 
                                                                    regex=True).str.replace('o', '0', regex=True).astype(float)

#format the incom data type
movies['income'] = movies['income'].fillna(0).astype(int)
movies['income'] = movies['income'].map('{:,.0f}'.format)

#show the dataset
movies.head()

,title_id,title,release_year,genre,duration,country,content_rating,director,income,votes,score
0,tt0111161,The Shawshank Redemption,1995,Drama,142,USA,Restricted,Frank Darabont,"28,815,245",2.278.845,9.3
1,tt0068646,The Godfather,1972,Crime,175,USA,Restricted,Francis Ford Coppola,"246,120,974",1.572.674,9.2
2,tt0468569,The Dark Knight,2008,Action,152,USA,Parents Strongly Cautioned,Christopher Nolan,"1,005,455,211",2.241.615,9.
3,tt0071562,The Godfather: Part II,1975,Crime,220,USA,Restricted,Francis Ford Coppola,"408,035,783",1.098.714,"9,.0"
4,tt0110912,Pulp Fiction,1994,Crime,154,USA,Restricted,Quentin Tarantino,"222,831,817",1.780.147,"8,9f"

## 15.  Remove special character from votes column and convert the data type to integer

In [36]:
#strip the data type
movies.columns = movies.columns.str.strip()

In [37]:
#replace the special values
movies['votes'] = movies['votes'].astype(str).str.replace('.', '', regex=True).str.replace(',', '.', regex=True).astype(int)

#format the datatype
movies['votes'] = movies['votes'].map('{:,.0f}'.format)

#show the dataset
movies.head()

,title_id,title,release_year,genre,duration,country,content_rating,director,income,votes,score
0,tt0111161,The Shawshank Redemption,1995,Drama,142,USA,Restricted,Frank Darabont,"28,815,245","2,278,845",9.3
1,tt0068646,The Godfather,1972,Crime,175,USA,Restricted,Francis Ford Coppola,"246,120,974","1,572,674",9.2
2,tt0468569,The Dark Knight,2008,Action,152,USA,Parents Strongly Cautioned,Christopher Nolan,"1,005,455,211","2,241,615",9.
3,tt0071562,The Godfather: Part II,1975,Crime,220,USA,Restricted,Francis Ford Coppola,"408,035,783","1,098,714","9,.0"
4,tt0110912,Pulp Fiction,1994,Crime,154,USA,Restricted,Quentin Tarantino,"222,831,817","1,780,147","8,9f"

## <center> 16. Remove unnecessary special numbers,commas and letters from score columns

In [38]:
#use replace to remove the special number and replace the inappriopiate value
movies['score'] = movies['score'].astype(str).str.replace(',', '.', regex=False).str.extract(r'(\d+\.?\d*)')[0].astype(float)

#show the dataset
movies.head()

,title_id,title,release_year,genre,duration,country,content_rating,director,income,votes,score
0,tt0111161,The Shawshank Redemption,1995,Drama,142,USA,Restricted,Frank Darabont,"28,815,245","2,278,845",9.3
1,tt0068646,The Godfather,1972,Crime,175,USA,Restricted,Francis Ford Coppola,"246,120,974","1,572,674",9.2
2,tt0468569,The Dark Knight,2008,Action,152,USA,Parents Strongly Cautioned,Christopher Nolan,"1,005,455,211","2,241,615",9.0
3,tt0071562,The Godfather: Part II,1975,Crime,220,USA,Restricted,Francis Ford Coppola,"408,035,783","1,098,714",9.0
4,tt0110912,Pulp Fiction,1994,Crime,154,USA,Restricted,Quentin Tarantino,"222,831,817","1,780,147",8.9

###  <center>To review the table

In [39]:
#display the full table
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [41]:
#show the dataset
movies

,title_id,title,release_year,genre,duration,country,content_rating,director,income,votes,score
0,tt0111161,The Shawshank Redemption,1995,Drama,142,USA,Restricted,Frank Darabont,"28,815,245","2,278,845",9.3
1,tt0068646,The Godfather,1972,Crime,175,USA,Restricted,Francis Ford Coppola,"246,120,974","1,572,674",9.2
2,tt0468569,The Dark Knight,2008,Action,152,USA,Parents Strongly Cautioned,Christopher Nolan,"1,005,455,211","2,241,615",9.0
3,tt0071562,The Godfather: Part II,1975,Crime,220,USA,Restricted,Francis Ford Coppola,"408,035,783","1,098,714",9.0
4,tt0110912,Pulp Fiction,1994,Crime,154,USA,Restricted,Quentin Tarantino,"222,831,817","1,780,147",8.9
5,tt0167260,The Lord of the Rings: The Return of the King,2003,Action,201,New Zealand,Parents Strongly Cautioned,Peter Jackson,"1,142,271,098","1,604,280",8.9
6,tt0108052,Schindler's List,1994,Biography,195,USA,Restricted,Steven Spielberg,"322,287,794","1,183,248",8.9
7,tt0050083,12 Angry Men,1957,Crime,96,USA,Not Rated,Sidney Lumet,576,"668,473",8.9
8,tt1375666,Inception,2010,Action,148,USA,Parents Strongly Cautioned,Christopher Nolan,"869,784,991","2,002,816",8.0
9,tt0137523,Fight Club,1999,Drama,139,UK,Restricted,David Fincher,"101,218,804","1,807,440",8.8
10,tt0109830,Forrest Gump,1994,Drama,142,USA,Parents Strongly Cautioned,Robert Zemeckis,"678,229,452","1,755,490",8.0
11,tt0120737,The Lord of the Rings: The Fellowship of the Ring,2002,Action,178,New Zealand,Parents Strongly Cautioned,Peter Jackson,"887,934,303","1,619,920",8.8
12,tt0060196,"Il buono, il brutto, il cattivo",1966,Western,161,Italy,General,Sergio Leone,"25,252,481","672,499",8.8
14,tt0133093,The Matrix,1999,Action,136,USA,Restricted,"Lana Wachowski, Lilly Wachowski","465,718,588","1,632,315",8.7
15,tt0167261,The Lord of the Rings: The Two Towers,2001,Action,179,New Zealand,Parents Strongly Cautioned,Peter Jackson,"951,227,416","1,449,778",8.7
16,tt0080684,Star Wars: Episode V - The Empire Strikes Back,1980,Action,124,USA,Parental Guidance,Irvin Kershner,"549,265,501","1,132,073",8.7
17,tt0099685,Goodfellas,1990,Biography,146,USA,Restricted,Martin Scorsese,"46,879,633","991,505",8.7
18,tt0073486,One Flew Over the Cuckoo's Nest,1976,Drama,133,USA,Restricted,Milos Forman,"108,997,629","891,071",8.7
19,tt0816692,Interstellar,2014,Adventure,169,USA,Parents Strongly Cautioned,Christopher Nolan,"696,742,056","1,449,256",8.6
20,tt0114369,Se7en,1995,Crime,127,USA,Restricted,David Fincher,"327,333,559","1,402,015",8.6
21,tt0102926,The Silence of the Lambs,1991,Crime,118,USA,Restricted,Jonathan Demme,"272,753,884","1,234,134",8.6
22,tt0076759,Star Wars,1977,Action,121,USA,Parental Guidance,George Lucas,"775,768,912","1,204,107",8.6
23,tt0120815,Saving Private Ryan,1998,Drama,169,USA,Restricted,Steven Spielberg,"482,349,603","1,203,825",8.6
24,tt0120689,The Green Mile,2000,Crime,189,USA,Restricted,Frank Darabont,"286,801,374","1,112,336",8.6
25,tt0317248,Cidade de Deus,2003,Crime,130,Brazil,Restricted,"Fernando Meirelles, KÃ¡tia Lund","30,680,793","685,856",8.6
26,tt0245429,Sen to Chihiro no kamikakushi,2003,Animation,125,Japan,Parental Guidance,Hayao Miyazaki,"355,467,056","626,693",8.6
27,tt0118799,La vita B9 bella,1997,Comedy,116,Italy,Not rated,Roberto Benigni,"230,098,753","605,648",8.6
28,tt6751668,Gisaengchung,2019,Comedy,132,South Korea,Not rated,Bong Joon Ho,"257,604,912","470,931",8.6
29,tt0038650,It's a Wonderful Life,1948,Drama,130,USA,Parental Guidance,Frank Capra,"6,130,720","388,310",8.6
30,tt0047478,Shichinin no samurai,1955,Action,207,Japan,Not Rated,Akira Kurosawa,"322,773","307,958",8.6
31,tt0172495,Gladiator,2000,Action,155,USA,Restricted,Ridley Scott,"465,361,176","1,308,193",8.5
32,tt0407887,The Departed,2006,Crime,151,USA,Restricted,Martin Scorsese,"291,465,034","1,159,703",8.5
33,tt0482571,The Prestige,2006,Drama,130,UK,Parents Strongly Cautioned,Christopher Nolan,"109,676,311","1,155,723",8.5
34,tt0088763,Back to the Future,1985,Adventure,116,USA,Parental Guidance,Robert Zemeckis,"388,774,684","1,027,330",8.5
35,tt0120586,American History X,1999,Drama,119,USA,Restricted,Tony Kaye,"23,875,127","1,014,218",8.5
36,tt0110413,LÃ©on,1995,Action,110,France,Not rated,Luc Besson,"19,552,639","1,007,598",8.5
37,tt0103064,Terminator 2: Judgment Day,1991,Action,137,USA,Restricted,James Cameron,"520,884,847","974,970",8.4
38,tt0114814,The Usual Suspects,1995,Crime,106,USA,Restricted,Bryan Singer,"23,341,568","968,947",8.4
39,tt0110357,The Lion King,1994,Animation,88,USA,General,"Roger Allers, Rob Minkoff","968,511,805","917,248",8.4
40,tt7286456,Joker,2019,Crime,122,USA,Not rated,Todd Phillips,"1,074,251,311","855,097",8.4
41,tt1675434,Intouchables,2012,Biography,112,France,Not rated,"Olivier Nakache, Ãric Toledano","426,588,510","736,691",8.4
42,tt0253474,The Pianist,2002,Biography,150,UK,Restricted,Roman Polanski,"120,072,577","707,942",8.4
43,tt2582802,Whiplash,2015,Drama,106,USA,Restricted,Damien Chazelle,"48,983,260","690,732",8.4
44,tt0054215,Psycho,1960,Horror,109,USA,Restricted,Alfred Hitchcock,"32,008,644","586,765",8.3
45,tt0034583,Casablanca,1943,Drama,102,USA,Parental Guidance,Michael Curtiz,"4,374,761","509,953",8.3
46,tt0064116,C'era una volta il West,1968,Western,165,Italy,Parents Strongly Cautioned,Sergio Leone,"112,911","295,220",8.3
47,tt0095327,Hotaru no haka,2015,Animation,89,Japan,Not rated,Isao Takahata,"516,962","225,438",8.3
48,tt0095765,Nuovo Cinema Paradiso,1988,Drama,155,Italy,Not rated,Giuseppe Tornatore,"13,826,605","223,050",8.3
49,tt0027977,Modern Times,1937,Comedy,87,USA,General,Charles Chaplin,"457,688","211,250",8.3
50,tt1345836,The Dark Knight Rises,2012,Action,164,UK,Parents Strongly Cautioned,Christopher Nolan,"1,081,133,191","1,480,582",8.3
51,tt1853728,Django Unchained,2013,Drama,165,USA,Restricted,Quentin Tarantino,"425,368,238","1,317,856",8.3
52,tt0209144,Memento,2001,Mystery,113,USA,Restricted,Christopher Nolan,"39,970,386","1,098,879",8.2
53,tt0910970,WALLÂ·E,2008,Animation,98,USA,General,Andrew Stanton,"521,311,860","974,734",8.2
54,tt0081505,The Shining,1980,Drama,146,UK,Restricted,Stanley Kubrick,"46,520,613","869,480",8.2
55,tt0082971,Raiders of the Lost Ark,1981,Action,115,USA,Parental Guidance,Steven Spielberg,"390,133,212","865,510",8.2
56,tt4154756,Avengers: Infinity War,2018,Action,149,USA,Not rated,"Anthony Russo, Joe Russo","2,048,359,754","796,486",8.2
57,tt0078748,Alien,1979,Horror,117,UK,Restricted,Ridley Scott,"108,110,316","768,874",8.2
58,tt4154796,Avengers: Endgame,2019,Action,181,USA,Not rated,"Anthony Russo, Joe Russo","-2,147,483,648","754,786",8.2
59,tt0078788,Apocalypse Now,1979,Drama,147,USA,Restricted,Francis Ford Coppola,"91,968,688","591,251",8.2
60,tt0364569,Oldeuboi,2005,Action,120,South Korea,Restricted,Chan-wook Park,"15,002,116","501,082",8.1
61,tt0057012,Dr. Strangelove or: How I Learned to Stop Worr...,1964,Comedy,95,UK,Parental Guidance,Stanley Kubrick,"9,443,876","441,115",8.1
62,tt0047396,Rear Window,1955,Mystery,112,USA,Not rated,Alfred Hitchcock,"37,032,034","432,390",8.1
63,tt2380307,Coco,2017,Animation,105,USA,Not rated,"Lee Unkrich, Adrian Molina","807,083,670","352,455",8.1
64,tt0405094,Das Leben der Anderen,2007,Drama,137,Germany,Restricted,Florian Henckel von Donnersmarck,"77,356,942","349,642",8.1
65,tt4633694,Spider-Man: Into the Spider-Verse,2018,Animation,117,USA,Not rated,"Bob Persichetti, Peter Ramsey","375,540,831","335,892",8.1
66,tt1187043,3 Idiots,2009,Comedy,170,India,Not rated,Rajkumar Hirani,"60,262,836","332,217",8.1
67,tt0119698,Mononoke-hime,2000,Animation,134,Japan,Parents Strongly Cautioned,Hayao Miyazaki,"169,785,629","331,045",8.0
68,tt0087843,Once Upon a Time in America,1984,Crime,229,USA,Restricted,Sergio Leone,"5,472,914","302,317",8.0
69,tt0032553,The Great Dictator,1945,Comedy,125,USA,Not rated,Charles Chaplin,"969,879","197,381",8.0
70,tt0043014,Sunset Blvd.,1951,Drama,110,USA,Not rated,Billy Wilder,"299,645","195,789",8.0
71,tt0361748,Inglourious Basterds,2009,Adventure,153,Germany,Restricted,Quentin Tarantino,"321,455,689","1,229,958",8.0
72,tt0169547,American Beauty,2000,Drama,122,USA,Restricted,Sam Mendes,"356,296,601","1,049,009",8.0
73,tt0112573,Braveheart,1995,Biography,178,USA,Restricted,Mel Gibson,"213,216,216","941,683",7.9
74,tt0086190,Star Wars: Episode VI - Return of the Jedi,1983,Action,131,USA,Parental Guidance,Richard Marquand,"475,347,111","928,036",7.9
75,tt0105236,Reservoir Dogs,1992,Crime,99,USA,Restricted,Quentin Tarantino,"2,889,963","896,551",7.9
76,tt0338013,Eternal Sunshine of the Spotless Mind,2004,Drama,108,USA,Restricted,Michel Gondry,"74,036,715","889,875",7.9
77,tt0114709,Toy Story,1996,Animation,81,USA,General,John Lasseter,"404,265,438","864,461",7.9
78,tt0119217,Good Will Hunting,1998,Drama,126,USA,Restricted,Gus Van Sant,"225,933,435","837,379",7.8
79,tt0208092,Snatch,2001,Comedy,104,UK,Restricted,Guy Ritchie,"83,557,872","766,589",7.8
80,tt0180093,Requiem for a Dream,2000,Drama,102,USA,Restricted,Darren Aronofsky,"7,390,108","748,291",7.8
81,tt0066921,A Clockwork Orange,1972,Crime,136,UK,Not rated,Stanley Kubrick,"26,903,440","740,301",7.8
82,tt0435761,Toy Story 3,2010,Animation,103,USA,General,Lee Unkrich,"1,066,969,703","739,717",7.8
83,tt0086250,Scarface,1984,Crime,170,USA,Restricted,Brian De Palma,"66,023,585","721,343",7.8
84,tt0075314,Taxi Driver,1976,Crime,114,USA,Restricted,Martin Scorsese,"28,441,292","703,264",7.7
85,tt0211915,Le fabuleux destin d'AmÃ©lie Poulain,2002,Comedy,122,France,Restricted,Jean-Pierre Jeunet,"173,924,742","690,480",7.7
86,tt0093058,Full Metal Jacket,1987,Drama,116,UK,Not rated,Stanley Kubrick,"46,357,676","658,175",7.7
87,tt0090605,Aliens,1986,Action,137,USA,Restricted,James Cameron,"131,384,634","639,500",7.7
88,tt0062622,2001: A Space Odyssey,1968,Adventure,149,UK,General,Stanley Kubrick,"68,989,547","587,866",7.6
89,tt0033467,Citizen Kane,1948,Drama,119,USA,Not rated,Orson Welles,"1,594,107","389,322",7.6
90,tt8579674,1917,2020,Drama,119,USA,Not rated,Sam Mendes,"384,857,224","362,897",7.6
91,tt0086879,Amadeus,1985,Biography,160,USA,Restricted,Milos Forman,"52,066,791","361,028",7.6
92,tt0052357,Vertigo,1958,Mystery,128,USA,Not rated,Alfred Hitchcock,"7,796,389","352,786",7.5
93,tt0053125,North by Northwest,1959,Adventure,136,USA,Not rated,Alfred Hitchcock,"73,446","291,628",7.5
94,tt2106476,Jagten,2012,Drama,115,Denmark,Restricted,Thomas Vinterberg,"15,843,274","269,616",7.5
95,tt0056172,Lawrence of Arabia,1963,Adventure,228,UK,Parental Guidance,David Lean,"45,710,874","261,504",7.5
96,tt0070735,The Sting,1974,Comedy,129,USA,Parental Guidance,George Roy Hill,"156,000,000","236,285",7.5
97,tt0082096,Das Boot,1982,Adventure,149,West Germany,Restricted,Wolfgang Petersen,"11,487,676","226,427",7.5
98,tt0059578,Per qualche dollaro in piÃ¹,1965,Western,132,Italy,Not rated,Sergio Leone,"15,000,000","226,039",7.4
99,tt1832382,Jodaeiye Nader az Simin,2011,Drama,123,Iran,Parents Strongly Cautioned,Asghar Farhadi,"22,926,076","214,165",7.4
100,tt0045152,Singin' in the Rain,1953,Comedy,103,USA,Not rated,Stanley Donen,"1,864,182","213,152",7.4

In [42]:
#save the updated dataset
movies.to_csv('movies_updated.csv')